<div class="page-wrapper">         
    <div class="main-panel mt-6">
        <div class="container-fluid">                  
            <div class="card top-10 card-style">             
                <div class="card-title text-center">
                    <span>Functional Head </span> 
                </div>
                <form action="" method="" class="">          
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 text-right">
                        <button type="button" class="btn btn-green large-btn" routerLink='/createform'>Create +</button>                     
                        <!-- <button type="button" class="btn btn-info">View <i class="fa fa-eye"></i></button> -->
                    </div> 
                    <div class="card-body">                                          
                        <div class="auth-form-transparent">                                   
                            <div class="table-responsive">
                                <table id="example" class="table table-striped table-bordered table-hover" datatable [dtOptions]="dtOptions">
                                    <thead>
                                    <tr>
                                        <th>RSG Id</th>
                                        <th>Requested Date</th>
                                        <th>Requested By</th>
                                        <th>Department Name</th>
                                        <th>Application Name</th>
                                        <th>Functional Status </th> 
                                        <th>Action</th>                                                          
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>RSG0001</td>
                                        <td>02/03/2020</td>
                                        <td>Saravanaraj</td>
                                        <td>IT</td>
                                        <td>E-Health</td>
                                        <td>Open</td>
                                        <td><button type="button" class="btn btn-info">View</button></td>
                                    </tr>
                                    <tr>
                                        <td>RSG0021</td>
                                        <td>14/01/2020</td>
                                        <td>Saravanaraj</td>
                                        <td>IT</td>
                                        <td>E-Health</td>
                                        <td>Closed</td>
                                        <td><button type="button" class="btn btn-info">View</button></td>
                                    </tr>
                                    <tr>
                                        <td>RSG0015</td>
                                        <td>24/02/2020</td>
                                        <td>Saravanaraj</td>
                                        <td>IT</td>
                                        <td>E-Health</td>
                                        <td>Open</td>
                                        <td><button type="button" class="btn btn-info">View</button></td>
                                    </tr>                  
                                    <tr>
                                        <td>RSG0005</td>
                                        <td>12/01/2020</td>
                                        <td>Saravanaraj</td>
                                        <td>IT</td>
                                        <td>E-Health</td>
                                        <td>Reject</td>
                                        <td><button type="button" class="btn btn-info">View</button></td>
                                    </tr>                          
                                    </tbody>
                                </table>                                                                          
                            </div>
                        </div>
                    </div>             
                </form>         
            </div>
        </div>   
    </div> 
</div>