<div class="limiter main-bg">
	<div class="container-login100">
		<div class="wrap-login200 p-l-50 p-r-50 p-t-20 p-b-20">
			<form class="login100-form validate-form">
				<span class="login100-form-title p-b-20">
					<img src="../../assets/images/rs-logo.png" alt="" class="img-logo">
				</span>
				<div class="row">
					<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
						<div class=" validate-input m-t-10 m-b-20" data-validate = "Username is reauired">
							<span class="label-input100">Employee</span>
							<div class="form-check-inline ml-lg-4 ml-md-4">
								<label class="form-check-label">
								  <input type="radio" class="form-check-input" name="optradio" checked>On Role
								</label>
							</div>
							<div class="form-check-inline ml-2">
								<label class="form-check-label">
								  <input type="radio" class="form-check-input" name="optradio">Off Role
								</label>
							</div>						
						</div>
						<div class="wrap-input100 validate-input m-b-10" data-validate = "Employee Id is reauired">
							<span class="label-input100">Employee Id</span>
							<input class="input100" type="text" name="" placeholder="Enter Employee Id">
							<span class="focus-input100" data-symbol="&#xf162;"></span>								
						</div>
	
						<div class="wrap-input100 validate-input m-b-10" data-validate="Employee Name is required">
							<span class="label-input100">Employee Name</span>
							<input class="input100" type="text" value="" name="" placeholder="Enter Employee Name">
							<span class="focus-input100" data-symbol="&#xf007;"></span>								
						</div>
						<div class="wrap-input100 validate-input m-b-10" data-validate="Branch is required">
							<span class="label-input100">Branch Name</span>
							<input type="search" value="" name="" class="input100" placeholder="Enter Branch">								
							<span class="focus-input100" data-symbol="&#xf1d1;"></span>							
						</div>
						<div class="wrap-input100 validate-input m-b-10" data-validate="Department is required">
							<span class="label-input100">Department Name</span>
							<input type="search" value="" name="" class="input100" placeholder="Enter Department">								
							<span class="focus-input100" data-symbol="&#xf013;"></span>							
						</div>
					</div>
					<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 text-center p-t-20">
						<button type="submit" class="btn btn-rounded login100-form-btn">Register</button>
					</div>
				</div>
			</form>
			<footer class="footer-block text-center mt-3">  
				<a href="" class="text-copyrights">© Royal Sundaram General Insurance Co.Limited All Rights Reserved.</a>
			</footer>
		</div>
	</div>
</div>