<div class="container-fluid">

    <div class="row">

        <div class="col-md-12">

            <div class="row">

                <div class="col-md-6">

                    <p><b>Policy Status</b></p>

                </div>

                <div class="col-md-6">

                    <p class="text-right"><a routerLink="/dashboard"> Dashboard </a> >
                        <b>Policy Status</b>
                    </p>

                </div>

            </div>

        </div>

    </div>

    <br>

    <div class="row" *ngIf="tableGrid">

        <div class="col-md-12">

            <div class="content">

                <form [formGroup]="policyFillter">

                    <div class="col-md-12 form_filter">

                        <div class="row">

                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Policy Type</label>
                                    <select class="form-control" formControlName="policyName">
                                        <option selected>Choose</option>
                                        <option *ngFor="let item of allPolicyType"
                                            value="{{item.policyType}}">
                                            {{item.policyType}}
                                        </option>
                                    </select>
                                </div>
                            </div>                                                  
                          
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Start Date</label>
                                    <!-- <input type="date" class="form-control" formControlName="startDate" placeholder=""> -->
                                    <input type="text" class="form-control" placeholder="Pick Start Date"
                                    value="" bsDatepicker placement="auto" bsDatepicker 
                                    [bsConfig]="{dateInputFormat:'DD-MM-YYYY', isAnimated: true,containerClass:'theme-dark-blue'}"
                                    formControlName="startDate" readonly /> 
                                </div>
                            </div> 

                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Due Date</label>
                                    <!-- <input type="date"  class="form-control" formControlName="dueDate" placeholder=""> -->
                                    <input type="text"  class="form-control" formControlName="dueDate" placeholder="Pick End Date"
                                    bsDatepicker placement="auto" bsDatepicker 
                                    [bsConfig]="{dateInputFormat: 'DD-MM-YYYY', isAnimated: true,containerClass: 'theme-dark-blue'}" readonly/>
                                </div>
                            </div>  

                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Status</label>
                                    <select class="form-control" formControlName="policyStatus">
                                       
                                        <option value="ACCEPTED">ACCEPTED</option>
                                        <option value="PENDING">PENDING</option>
                                    </select>
                                </div>
                            </div> 

                            <div class="col-md-2">
                                <label class="d-block">&nbsp;</label>
                                <i  (click)="searchCompliances()" class="fa fa-filter form_filter_search_icon cursor_icon"
                                    aria-hidden="true"></i>
                                <i (click)="searchCompliancesReset()"
                                    class="fa fa-refresh form_filter_reset_icon cursor_icon" aria-hidden="true"></i>
                            </div>

                            <!-- <div class="col-md-2">
                                <label class="d-block">&nbsp;</label>
                                <button type="button" (click)="showForm()"  class="btn btn-success add_new btn-block">
                                   New Policy
                                </button>
                            </div> -->
                            
                        </div>
                                             

                    </div>

                </form>

            </div>

        </div>

    </div>

    <div class="content" *ngIf="tableGrid">

        <div class="table-responsive">

            <br>
            <table id="" class="mydatatable mytable table table-borderless table-striped">
                <thead class="thead-light">
                    <tr>
                        <th class="text-center">S No.</th>
                        <th>Policy Type</th>
                        <th>Emp. Id</th>
                        <th class="text-center">Department</th>
                        <th>Start Date</th>
                        <th>Due Date</th>
                        <th class="text-center">Status</th>
                        
                        <!-- <th class="text-center">Action</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of acceptUserPolicy; let i=index;">
                        <td class="text-center">{{i + 1}}</td>
                        <td>{{item.policyType}}</td>
                        <td>{{item.userId}}</td>
                        <td class="text-center">{{item.department}}</td>
                        <td>{{item.startDate}}</td>
                        <td>{{item.dueDate}}</td>
                        <td class="text-center font-weight-bold">
                            <span class="active_status" *ngIf="item.policyStatus == 'ACCEPTED'"> 
                                {{item.policyStatus}}
                            </span>
                            <span class="in_active_status" *ngIf="item.policyStatus != 'ACCEPTED'">
                                {{item.policyStatus}}
                            </span>
                        </td>
                       
                        <!-- <td class="text-center">

                            <i (click)="viewCompliancesDetailsById(item.policyId)" class="fa fa-eye view_icon cursor_icon"
                                aria-hidden="true"></i>
                            &nbsp;

                            <i (click)="editCompliances(item)" class="fa fa-pencil edit_icon cursor_icon"
                                aria-hidden="true"></i>
                        </td> -->
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

</div>
