<div class="container-fluid page-body-wrapper">
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="card mt-4">
                <div class="card-title text-center">
                    <span>Upload Not Contactable Mobile Number</span>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="mt-2 text-right">
                            <button type="button" class="btn effect effect-4 effect-primary effect-search btn-large" (click)="viewUploadDetails()"><i class="fa fa-search"></i> Search</button>
                        </div>
                        <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()" class="">
                            <div class="container">
                                <div class="file-upload-form">
                                    <!-- <input type="file" multiple> -->
                                    <!-- <p>Drag and drop or click here</p> -->
                                    <input type="file" name="invalidMobFile" formControlName="invalidMobFile"
                                        placeholder="No file selected" (change)="onFileSelect($event)"
                                        [ngClass]="{ 'is-invalid': submitted && f.invalidMobFile.errors }"
                                        accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel">
                                        <p>Drag and drop or click here</p>
                                        <div *ngIf="submitted && f.invalidMobFile.errors" class="invalid-feedback">
                                        <div *ngIf="f.invalidMobFile.errors.required"
                                            style="font-size: 17px;text-align: center;">File is
                                            required</div>
                                    </div>
                                    <a href="javascript:void(0)" (click)="downloadExcel()">Click Here To Download Header</a>
                                    <br>
                                    <br>
                                    <br>
                                    <button type="submit" class="btn btn-primary mr-2">Upload</button>
                                    <button type="reset" class="btn btn-danger">Cancel</button>
                                </div>
                                <a class="download-zip-link" #downloadZipLink></a> 
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- main-panel ends -->
</div>