<div class="main-panel">
  <div class="content-wrapper">
    <!-- <div class="page-header">
      <h3 class="page-title">
        
      </h3>
    </div> -->
    <div class="row grid-margin">
      <div class="col-md-8 col-lg-8 offset-lg-2 offset-md-2  col-sm-12 col-12 grid-margin stretch-card">
        <div class="card rounded-corner">
          <h4 class="card-title">
            <i class="fas fa-newspaper"></i>
            News & Announcements
          </h4>
          <div class="card-body">                
         <marquee class="marquee-slide" direction="up" behavior="scroll"  scrolldelay="250">
           <ul class="list-circle">
            <li>Bajaj Allianz General Insurance company is excited to announce the launch of new Hospital Portal.</li>
            <li>BAGIC is committed to settle cashless claim in less than 20 minutes. </li>
           </ul>          
         </marquee>                          
          </div>
        </div>
      </div>
    </div>         
  </div>
</div>