<div class="container-fluid">

    <div class="row">

        <div class="col-md-12">

            <div class="row">

                <div class="col-md-6">

                    <p><b>IT Support Dashboard</b></p>

                </div>

                <div class="col-md-6">


                </div>

            </div>

        </div>

    </div>

    <div class="row">

        <div class="col-md-12">

            <div class="content">

                <div class="row">

                    <div class="col-md-4">

                        <div class="d-flex dash_count">

                            <div class="col"><img src="assets/images/total_emp.png"></div>
                            <div class="col">
                                <p>Total No. of Asset Type </p>
                                <p><b>{{assetMasterList.length}}</b></p>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-4">

                        <div class="d-flex dash_count">

                            <div class="col"><img src="assets/images/total_emp.png"></div>
                            <div class="col">
                                <p>Total No. of Asset Mapping </p>
                                <p><b>{{assetMasterMappingList.length}}</b></p>
                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>

</div>