<div class="container-fluid auto-height bg-white">

    <div class="row">

        <div class="col-md-9">
            <img src="assets/images/logo.png" class="logo" /><br><br>

            <h3>LETS GET CONNECTED ACROSS THE GLOBE.</h3>

            <img src="assets/images/login_bg.jpg" class="w-100 img-responsive login_bg" />

        </div>

        <div class="col-md-3">

            <div class="row vh-100 text-center justify-content-center align-items-center bg-login-form">

                <div class="col-md-12">

                    <h4 class="text-white">MANAGER LOGIN</h4>

                    <p class="text-white">Log in to continue to our Application</p>

                    <!-- <form action=""> -->
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-user" aria-hidden="true"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Username">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-lock" aria-hidden="true"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Password">
                    </div>
                    <!-- <a routerLink="dashboard">Dashboard</a> -->
                    <a routerLink="/dashboard/mg-dashboard"> <button type="submit"
                            class="btn btn-primary btn-block bg-blue">Login</button></a>
                    <!-- </form> -->
                </div>
            </div>


        </div>

    </div>

</div>