<div class="page-wrapper">         
    <div class="main-panel">
        <div class="container-fluid">                  
            <div class="card card-style">             
                <div class="card-title">
                  <span class="font-weight-bold">Requested ID : RSG0001</span> 
                  <span class="title-right font-weight-bold">View Details</span>
                </div>
                <form action="" method="" class="">          
                    <div class="card-body">                          
                        <div class="auth-form-transparent">  
                            <h6 class="approver-title">Basic Details</h6>                                           
                            <div class="row mt-3">
                                <label class="col-md-2 col-lg-2 col-sm-6 col-xs-6">Employee Id</label>
                                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                                  <input type="text" name="" id="" class="form-control" readonly/>
                                </div>
                                <label class="col-md-2 col-lg-2 col-sm-6 col-xs-6">Full Name</label>
                                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                                  <input type="text" name="" id="" class="form-control" readonly/>
                                </div>
                                <label class="col-md-2 col-lg-2 col-sm-6 col-xs-6">Department</label>
                                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                                  <input type="text" name="" id="" class="form-control" readonly/>
                                </div>
                                <label class="col-md-2 col-lg-2 col-sm-6 col-xs-6">Mobile Number</label>
                                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                                  <input type="text" name="" id="" class="form-control" readonly/>
                                </div>
                                <label class="col-md-2 col-lg-2 col-sm-6 col-xs-6">Email ID</label>
                                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                                  <input type="text" name="" id="" class="form-control" readonly/>
                                </div>
                                <label class="col-md-2 col-lg-2 col-sm-6 col-xs-6">Cost Centre</label>
                                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                                  <input type="text" name="" id="" class="form-control" readonly/>
                                </div>
                                <label class="col-md-2 col-lg-2 col-sm-6 col-xs-6">Location</label>
                                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                                  <input type="text" name="" id="" class="form-control" readonly/>
                                </div>
                                <label class="col-md-2 col-lg-2 col-sm-6 col-xs-6">Reporting Emp ID</label>
                                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                                  <input type="text" name="" id="" class="form-control" readonly/>
                                </div>
                                <label class="col-md-2 col-lg-2 col-sm-6 col-xs-6">Reporting Emp Name</label>
                                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                                  <input type="text" name="" id="" class="form-control" readonly/>
                                </div>
                                <label class="col-md-2 col-lg-2 col-sm-6 col-xs-6">Branch Code</label>
                                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                                  <input type="text" name="" id="" class="form-control" readonly/>
                                </div>
                                <label class="col-md-2 col-lg-2 col-sm-6 col-xs-6">Branch Name</label>
                                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                                  <input type="text" name="" id="" class="form-control" readonly/>
                                </div>
                                <label class="col-md-2 col-lg-2 col-sm-6 col-xs-6">Reporting Branch Code</label>
                                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                                  <input type="text" name="" id="" class="form-control" readonly/>
                                </div>
                                <label class="col-md-2 col-lg-2 col-sm-6 col-xs-6">Reporting Branch Name</label>
                                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                                  <input type="text" name="" id="" class="form-control" readonly/>
                                </div>
                                <label class="col-md-2 col-lg-2 col-sm-6 col-xs-6">Extension No</label>
                                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                                  <input type="text" name="" id="" class="form-control" readonly/>
                                </div>
                                <!-- <label class="col-md-2 col-lg-2 col-sm-6 col-xs-6">Windows user id</label>
                                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                                  <input type="text" name="" id="" class="form-control" readonly/>
                                </div> -->
                            </div> 
                            <h6 class="approver-title">Application Details</h6>
                            <div class="row mt-3"> 
                                <label class="col-md-2 col-lg-2 col-sm-6 col-xs-6">Application Name </label>
                                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                                  <input type="text" name="" id="" class="form-control" readonly/>
                                </div>
                            </div>
                            <div class="row"> 
                                <label class="col-md-2 col-lg-2 col-sm-6 col-xs-6">Module Name </label>
                                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                                <ul class="module-list">
                                    <li>Health care</li>
                                    <li>Motor Insurance</li>
                                    <li>Life Insurance</li>
                                </ul>
                                </div>
                                <label class="col-md-2 col-lg-2 col-sm-6 col-xs-6">Status </label>
                                <div class="col-md-3 col-lg-3 col-sm-6 col-xs-6">
                                    <select class="form-control">
                                        <option selected disabled>-- Select Status --</option>
                                        <option value="">Yes</option>
                                        <option value="">No</option>
                                    </select>
                                </div>
                            </div>
                            <!-- <h6 class="approver-title">User ID Details</h6>
                            <div class="row mt-3">
                                <label class="col-md-2 col-lg-2 col-sm-6 col-xs-6">User Id Type</label>
                                <div class="col-md-10 col-lg-10 col-sm-6 col-xs-6 mb-3">
                                  <div class="form-check-inline ml-lg-4 ml-md-4">
                                      <label class="form-check-label">
                                        <input type="radio" value="" name="optradio" class="form-check-input" (change)="hideUser()"> Windows User ID
                                        <input type="radio" class="form-check-input" name="optradio" (change)="hideUser()"> Windows User ID 
                                      </label>
                                  </div>
                                    <div class="form-check-inline ml-2">
                                      <label class="form-check-label">
                                        <input type="radio"  value="" name="optradio" class="form-check-input" [(ngModel)]="radioSelected" (change)="newUser($event)">  New user ID
                                        <input type="radio" class="form-check-input" name="optradio" (change)="newUser()"> New user ID
                                      </label>
                                    </div>						
                                </div>
                            </div> -->
                            <!-- <div class="row" *ngIf="show">
                                <label class="col-md-2 col-lg-2 col-sm-6 col-xs-6">User Id</label>
                                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                                  <input type="text" name="" id="" class="form-control"/>
                                </div>
                                <label class="col-md-2 col-lg-2 col-sm-6 col-xs-6">Password</label>
                                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                                  <input type="text" name="" id="" class="form-control"/>
                                </div>
                            </div>  -->
                            <div class="row">
                                <label class="col-md-2 col-lg-2 col-sm-6 col-xs-6">Comment <span class="text-danger">*</span> </label>
                                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                                  <textarea class="form-control" rows="2" required></textarea>
                                </div>
                                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 text-center mt-3 mb-3">
                                    <button type="submit" class="btn btn-primary medium-btn">Submit</button>
                                    <button type="reset" class="btn btn-orange medium-btn">Back</button>
                                </div>  
                            </div>                                               
                        </div>
                    </div>             
                </form>         
            </div>
        </div>   
    </div> 
</div> 