<!-- <div class="page-wrapper">         
    <div class="main-panel">
        <div class="container-fluid">                  
            <div class="card card-style">             
                <div class="card-title text-center">
                    <span>Upload</span> 
                </div>
                <form action="" method="" class="">          
                    <div class="card-body">                          
                        <div class="auth-form-transparent">                      
                            <div class="row">
                                <label class="col-md-2 col-lg-2 col-sm-6 col-xs-6">Employee Type</label>
                                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                                <input type="text" name="" id="" class="form-control" />
                                </div>
                                <label class="col-md-2 col-lg-2 col-sm-6 col-xs-6">Vendor Name</label>
                                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                                <input type="text" name="" id="" class="form-control"/>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <label class="col-md-2 col-lg-2 col-sm-6 col-xs-6">Employee Id</label>                        
                                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                                <input type="text" name="" id="" class="form-control" />
                                </div>
                                <label class="col-md-2 col-lg-2 col-sm-6 col-xs-6">Employee Name</label>
                                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                                <input type="text" name="" id="" class="form-control" />
                                </div>
                            </div>
                            <div class="row mt-2">
                                <label class="col-md-2 col-lg-2 col-sm-6 col-xs-6">Branch Code</label>
                                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                                <input type="text" name="" id="" class="form-control"/>
                                </div>
                                <label class="col-md-2 col-lg-2 col-sm-6 col-xs-6">Branch Name</label>
                                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                                <input type="text" name="" id="" class="form-control" />
                                </div>                      
                            </div>                                     
                            <div class="row mt-2">
                                <label class="col-md-2 col-lg-2 col-sm-6 col-xs-6">Department</label>
                                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                                <input type="text" name="" id="" class="form-control" />
                                </div>
                                <label class="col-md-2 col-lg-2 col-sm-6 col-xs-6">Reporting Emp ID</label>
                                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                                <input type="text" name="" id="" class="form-control" />
                                </div>                                             
                            </div>                      
                            <div class="row mt-2">
                                <label class="col-md-2 col-lg-2 col-sm-6 col-xs-6">Reporting Emp Name</label>
                                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                                <input type="text" name="" id="" class="form-control" />
                                </div> 
                                <label class="col-md-2 col-lg-2 col-sm-6 col-xs-6">Functional Head Emp Id</label>
                                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                                <input type="text" name="" id="" class="form-control" />
                                </div>                   
                            </div>                   
                            <div class="row mt-2">
                                <label class="col-md-2 col-lg-2 col-sm-6 col-xs-6">Functional Head Emp Name </label>
                                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                                <input type="text" name="" id="" class="form-control" />
                                </div> 
                                <label class="col-md-2 col-lg-2 col-sm-6 col-xs-6">Mobile Number</label>
                                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                                <input type="text" name="" id="" class="form-control" />
                                </div>                  
                            </div>
                            <div class="row mt-2">
                                <label class="col-md-2 col-lg-2 col-sm-6 col-xs-6">Email ID</label>
                                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                                <input type="text" name="" id="" class="form-control" />
                                </div>                       
                            </div> 
                            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 text-center mt-3 mb-3">
                                <button type="submit" class="btn btn-primary medium-btn">Upload</button>
                                <button type="reset" class="btn btn-danger medium-btn">Cancel</button>
                            </div>                                                  
                        </div>
                    </div>             
                </form>         
            </div>
        </div>   
    </div> 
</div> -->


<div class="page-wrapper">
    <div class="main-panel">
  
      <div class="container-fluid">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 text-right mb-2 mt-2">
          <!-- <a type="button" class="btn btn-green large-btn" href="create.html">Create +</a>                                  -->
        </div>
        <div class="card card-style">
          <div class="card-title text-center">
            <span>Upload</span>
          </div>
          <form>
            <div class="card-body">                          
                    <div class="auth-form-transparent">                      
            <!-- <div class="bg-light-2">-->
            <!-- <div class="table-responsive">
                          <table id="example" class="table table-striped table-bordered table-hover">
                            <thead>
                              <tr>
                                <th>Employee Id</th>
                                <th>Employee Name</th>
                                <th>Branch Code</th>
                                <th>Branch Name</th>
                                <th>Department</th>
                                <th>Reporting Emp ID</th>
                                <th>Reporting Emp Name</th>
                                <th>Functional Head Emp Id</th>
                                <th>Functional Head Emp Name</th>
                                <th>Mobile No</th>
                                <th>Email Id</th>
                                <th>Role</th>
                                <th>Status</th>
                                <th>Is Latest</th>
                                <th class="text-center">Action</th>                                 
                              </tr>
                            </thead>
                            <tbody>
                             
                              <tr *ngFor="let x of masterData">
                                <td>{{x.employeeId}}</td>
                                <td>{{x.employeeName}}</td>
                                <td>{{x.branchCode}}</td>
                                <td>{{x.branchName}}</td>
                                <td>{{x.department}}</td>
                                <td>{{x.reportingEmpId}}</td>
                                <td>{{x.reportingEmpName}}</td>
                                <td>{{x.functionalHeadEmpId}}</td>
                                <td>{{x.functionalHeadEmpName}}</td>
                                <td>{{x.mobileNo}}</td>
                                <td>{{x.emailId}}</td>
                                <td>{{x.role}}</td>
                                <td>{{x.status}}</td>
                                <td>{{x.isLatest}}</td>
                                <td>
                                  <button type="button" class="btn btn-info">Edit</button>
                                  <button type="button" class="btn btn-secondary">View</button>
                                </td>
                              </tr>
                                                       
                            </tbody>
                          </table>
                                                                                          
                        </div> -->
            <!-- </div> -->
            <!-- </div>
                  </div>      -->
            <input
              type="file"
              placeholder="Upload file"
              accept=".xlsx"
              name="profile"
            />
            <button type="submit" class="btn btn-info" >
              Upload
            </button>
           
            <!-- <label>
                            <input type="file" (change)="selectFile($event)">
                            </label>
                            <button 
                        (click)="upload()">Upload</button> -->
                      </div>
                    </div>       
          </form>
        </div>
        <div class="progress form-group">
          <div class="progress-bar progress-bar-striped bg-success" role="progressbar">
          </div>
      </div>
      </div>
    </div>
  </div>
  
  