<div class="main-panel">
    <div class="content-wrapper"> 
      <div class="row grid-margin">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="card card-statistics p-1">
            <h4 class="bg-light text-dark p-2 card-heading">              
                Apollo Hospital
            </h4>
            <div class="card-body">
                <div class="d-flex flex-column flex-md-row align-items-center justify-content-between bg-light text-dark p-3">                    
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <h4>Contact Details</h4>
                        <div class="row mt-lg-2 mt-md-2">
                            <label for="" class="col-lg-3 col-md-3 col-sm-6 col-6">Hospital Name </label>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-6"><span>:&nbsp;Apollo Hospital</span></div> 
                            <label for="" class="col-lg-3 col-md-3 col-sm-6 col-6">Hospital Code </label>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-6"><span>:&nbsp;ApH0101</span></div>                      
                        </div>
                        <div class="row mt-lg-2 mt-md-2">
                            <label for="" class="col-lg-3 col-md-3 col-sm-6 col-6">Mobile No. </label>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-6"><span>:&nbsp;</span><span class="edit-content" [contentEditable]="contentEditable">9874455741</span></div> 
                            <label for="" class="col-lg-3 col-md-3 col-sm-6 col-6">Telephone No 2. </label>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-6"><span>:&nbsp;</span><span class="edit-content" [contentEditable]="contentEditable">044-2465444</span></div>                      
                        </div>
                        <div class="row mt-lg-2 mt-md-2">
                            <label for="" class="col-lg-3 col-md-3 col-sm-6 col-6">E-Mail Id</label>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-6"><span>:&nbsp;</span><span class="edit-content" [contentEditable]="contentEditable">apollohospital@gmail.com</span></div> 
                            <label for="" class="col-lg-3 col-md-3 col-sm-6 col-6">Fax No. </label>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-6"><span>:&nbsp;</span><span class="edit-content" [contentEditable]="contentEditable">661441</span></div>                      
                        </div>
                        <div class="row mt-lg-2 mt-md-2">
                            <label for="" class="col-lg-3 col-md-3 col-sm-6 col-6">Website </label>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-6"><span>:&nbsp;</span><span class="edit-content" [contentEditable]="contentEditable">www.apollohospital.com</span></div> 
                            <label for="" class="col-lg-3 col-md-3 col-sm-6 col-6">Contact Person Name </label>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-6"><span>:&nbsp;</span><span class="edit-content" [contentEditable]="contentEditable">Shabeer Ahmed</span></div>                      
                        </div> 
                        <div class="row mt-lg-2 mt-md-2">
                            <label for="" class="col-lg-3 col-md-3 col-sm-6 col-6">Admission Person </label>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-6"><span>:&nbsp;</span><span class="edit-content" [contentEditable]="contentEditable"> Dinesh</span></div> 
                            <label for="" class="col-lg-3 col-md-3 col-sm-6 col-6">Billings Persons </label>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-6"><span>:&nbsp;</span><span class="edit-content" [contentEditable]="contentEditable"> Ram</span></div>                      
                        </div>
                        <br>                 
                            <h4>Financial Details</h4>
                            <div class="row mt-lg-3 mt-md-3">
                                <label for="" class="col-lg-3 col-md-3 col-sm-6 col-6">Account No. </label>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-6"><span>:&nbsp;</span><span class="edit-content" [contentEditable]="contentEditable">00111114544748745</span></div> 
                                <label for="" class="col-lg-3 col-md-3 col-sm-6 col-6">Account Type </label>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-6"><span>:&nbsp;</span><span class="edit-content" [contentEditable]="contentEditable">Cash </span></div>                      
                            </div>
                            <div class="row mt-lg-2 mt-md-2">
                                <label for="" class="col-lg-3 col-md-3 col-sm-6 col-6">Account Holder Name </label>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-6"><span>:&nbsp;</span><span class="edit-content" [contentEditable]="contentEditable">Ram</span></div> 
                                <label for="" class="col-lg-3 col-md-3 col-sm-6 col-6">Bank Name </label>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-6"><span>:&nbsp;</span><span class="edit-content" [contentEditable]="contentEditable">Axis Bank</span></div>                      
                            </div>
                            <div class="row mt-lg-2 mt-md-2">
                                <label for="" class="col-lg-3 col-md-3 col-sm-6 col-6">Bank Address </label>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-6"><span>:&nbsp;</span><span class="edit-content" [contentEditable]="contentEditable"> 661441</span></div>
                                <label for="" class="col-lg-3 col-md-3 col-sm-6 col-6">IFSC Code</label>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-6"><span>:&nbsp;</span><span class="edit-content" [contentEditable]="contentEditable">AXis124454</span></div>                       
                            </div>
                            <div class="row mt-lg-2 mt-md-2">
                                <label for="" class="col-lg-3 col-md-3 col-sm-6 col-6">MICR Code </label>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-6"><span>:&nbsp;</span><span class="edit-content" [contentEditable]="contentEditable">141242</span></div> 
                                <label for="" class="col-lg-3 col-md-3 col-sm-6 col-6">Pan No. </label>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-6"><span>:&nbsp;</span><span class="edit-content" [contentEditable]="contentEditable">Axt144254</span></div>                      
                            </div>                      
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center mt-3">
                                <button type="button" class="btn btn-primary large-btn" (click)="contentEdit()">Edit</button>
                                <button type="button" class="btn btn-info large-btn ml-2">Update</button>
                                <button type="button" class="btn btn-danger large-btn ml-2" (click)="cancelEdit()">Cancel</button>
                            </div>                                                                                                                                  
                    </div>                           
                </div>
            </div>
          </div>
        </div>
      </div>             
  </div>
</div>
