<div class="container-fluid">

    <div class="row">

        <div class="col-md-12">

            <div class="row">

                <div class="col-md-6">

                    <p><b>Company Policy</b></p>

                </div>

                <div class="col-md-6">

                    <p class="text-right"><a routerLink="/dashboard"> Dashboard </a> > <b>Company Policy</b></p>

                </div>

            </div>

        </div>

    </div>

    <div class="row">

        <div class="col-md-12">

            <div class="content">

                <p><b>Branch Hierarchy</b></p>

                <hr>

                <div class="col-md-12 form_filter">

                    <div class="row">

                        <div class="col-md-3">

                            <div class="card" id="ex-010-02">
                                <div class="card-body branch-card">

                                    <div class="d-flex">
                                        <div class="p-2 order-1">
                                            <i class="fa fa-home branch-icon" aria-hidden="true"></i>
                                        </div>
                                        <div class="p-2 order-2">
                                            <span><b>RSA Corporate</b>
                                                <br>X0</span>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <br><br>


                            <div class="card" id="ex-010-0">
                                <div class="card-body branch-card">

                                    <div class="d-flex">
                                        <div class="p-2 order-1">
                                            <i class="fa fa-home branch-icon" aria-hidden="true"></i>
                                        </div>
                                        <div class="p-2 order-2">
                                            <span><b>RSA Corporate</b>
                                                <br>X0</span>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <br><br>

                        </div>

                        <div class="col-md-1">

                        </div>

                        <div class="col-md-3">

                            <ul class="list-group" id="ex-010-1">
                                <li (click)="makeLine('item1')" id="item1"
                                    class="list-group-item d-flex justify-content-between align-items-center">
                                    Inbox
                                    <span class="badge badge-primary badge-pill branch-right-arrow">
                                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                    </span>
                                </li>
                                <li (click)="makeLine('item2')" id="item2"
                                    class="list-group-item d-flex justify-content-between align-items-center">
                                    Ads
                                    <span class="badge badge-primary badge-pill">
                                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                    </span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Junk
                                    <span class="badge badge-primary badge-pill">
                                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                    </span>
                                </li>
                            </ul>

                        </div>

                        <div class="col-md-1">

                        </div>

                        <div class="col-md-4">

                            <div class="content" id="city_box">

                                <div class="row">

                                    <div class="col-md-6">

                                        <button type="button" class="btn btn-primary btn-block">
                                            <b>T.Nagar </b> <span class="badge badge-light">4</span>
                                        </button>

                                    </div>

                                    <div class="col-md-6">

                                        <button type="button" class="btn btn-light btn-block">
                                            <b>T.Nagar </b> <span class="badge badge-light">4</span>
                                        </button>

                                    </div>


                                </div>



                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>