<div class="top js-top auto-height d-flex">
    <div class="container-fluid flex-fill">
        <img src="assets/images/logo.png" class="logo">
        <div class="h-100 align-items-center py-1">

            <div class="h-100 d-flex flex-column align-items-center">
                <div class="my-auto text-center">
                    <div class="col-lg-12">

                    </div>
                    <h3>
                        <p>WELCOME TO ROYAL SUNDARAM - USER MANAGEMENT</p>
                    </h3>

                    <p>Please choose the module which want to review</p>
                    <a routerLink="/login"> <button type="button" class="btn btn-primary bg-blue">User -
                            Admin</button></a>&nbsp;
                    <a routerLink="/mg-login"> <button type="button" class="btn btn-primary bg-blue">User -
                            Manager</button></a>
                </div>
            </div>
        </div>
    </div>
</div>