.globalsearch{
    padding-left: 17rem;
      margin: 0 auto;
  }

  @media (max-width: 991px) {
    .globalsearch {
        padding-left: 0rem;
        margin: 0 auto;
    }
  }
 
  @media (max-width: 360px) {
    .img-logo {
      max-width: 106px;
    }
  }
  .vertical { 
    border-left: 5px solid #0a88e3;
    height: 65px;
    margin-left: -12px;
}


