<div class="page-wrapper">         
    <div class="main-panel">
      <div class="container-fluid">                  
        <div class="card card-style">             
          <div class="card-title text-center">
            <span>Create </span> 
          </div>
            <form action="" method="" class="">          
              <div class="card-body">                          
                <div class="auth-form-transparent">                      
                  <!-- <div class="bg-light-2">  -->
                    <div class="row">
                      <label class="col-md-2 col-lg-2 col-sm-6 col-xs-6">Employee Id</label>
                      <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                        <input type="text" name="" id="" class="form-control" readonly/>
                      </div>
                      <label class="col-md-2 col-lg-2 col-sm-6 col-xs-6">Full Name</label>
                      <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                        <input type="text" name="" id="" class="form-control" readonly/>
                      </div>
                    </div>
                    <div class="row mt-2">
                      <label class="col-md-2 col-lg-2 col-sm-6 col-xs-6">Department</label>
                      <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                        <input type="text" name="" id="" class="form-control" readonly/>
                      </div>
                      <label class="col-md-2 col-lg-2 col-sm-6 col-xs-6">Mobile Number</label>
                      <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                        <input type="text" name="" id="" class="form-control" />
                      </div>
                    </div>
                    <div class="row mt-2">
                      <label class="col-md-2 col-lg-2 col-sm-6 col-xs-6">Email ID</label>
                      <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                        <input type="text" name="" id="" class="form-control" readonly/>
                      </div>
                      <label class="col-md-2 col-lg-2 col-sm-6 col-xs-6">Cost Centre</label>
                      <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                        <input type="text" name="" id="" class="form-control" readonly/>
                      </div>
                    </div>
                    <div class="row mt-2">
                      <label class="col-md-2 col-lg-2 col-sm-6 col-xs-6">Location</label>
                      <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                        <input type="text" name="" id="" class="form-control" readonly/>
                      </div>
                      <label class="col-md-2 col-lg-2 col-sm-6 col-xs-6">Reporting Emp ID</label>
                      <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                        <input type="text" name="" id="" class="form-control" readonly/>
                      </div>
                    </div>
                    <div class="row mt-2">
                      <label class="col-md-2 col-lg-2 col-sm-6 col-xs-6">Reporting Emp Name</label>
                      <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                        <input type="text" name="" id="" class="form-control" readonly/>
                      </div>
                      <label class="col-md-2 col-lg-2 col-sm-6 col-xs-6">Branch Code</label>
                      <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                        <input type="text" name="" id="" class="form-control" readonly/>
                      </div>
                    </div>
                    <div class="row mt-2">
                      <label class="col-md-2 col-lg-2 col-sm-6 col-xs-6">Branch Name</label>
                      <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                        <input type="text" name="" id="" class="form-control" readonly/>
                      </div>
                      <label class="col-md-2 col-lg-2 col-sm-6 col-xs-6">Reporting Branch Code</label>
                      <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                        <input type="text" name="" id="" class="form-control" readonly/>
                      </div>
                    </div>
                    <div class="row mt-2">
                      <label class="col-md-2 col-lg-2 col-sm-6 col-xs-6">Reporting Branch Name</label>
                      <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                        <input type="text" name="" id="" class="form-control" readonly/>
                      </div>
                      <label class="col-md-2 col-lg-2 col-sm-6 col-xs-6">Extension No</label>
                      <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                        <input type="text" name="" id="" class="form-control" />
                      </div>
                    </div>
                    <div class="row mt-2">
                      <label class="col-md-2 col-lg-2 col-sm-6 col-xs-6">Windows user id</label>
                      <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                        <input type="text" name="" id="" class="form-control" />
                      </div>
                      <label class="col-md-2 col-lg-2 col-sm-6 col-xs-6">Application Name </label>
                      <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                        <input type="text" name="" id="" class="form-control" />
                      </div>
                    </div>
                    <div class="row mt-2">
                      <label class="col-md-2 col-lg-2 col-sm-6 col-xs-6">Module Name </label>
                      <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                        <input type="text" name="" id="" class="form-control" />
                      </div>
                      <!-- <label class="col-md-2 col-lg-2 col-sm-6 col-xs-6">Application Name </label>
                      <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                        <input type="text" name="" id="" class="form-control" />
                      </div> -->
                    </div>
                      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 text-center mt-3 mb-3">
                        <button type="submit" class="btn btn-primary medium-btn">Submit</button>
                        <button type="reset" class="btn btn-danger medium-btn">Cancel</button>
                      </div>                                                    
                  <!-- </div> -->
                </div>
              </div>             
            </form>         
        </div>
      </div>   
    </div> 
</div> 
