    <div class="main-panel">
        <div class="content-wrapper">
          <!-- <div class="page-header">
            <h3 class="page-title">
              Dashboard
            </h3>
          </div> -->
          <div class="row grid-margin">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="card card-statistics">
                <!-- <h4 class="card-title">
                  <i class="fas fa-gift"></i>
                  Claim Amount Status
                </h4> -->
                <div class="card-body">
                  <div class="container-fluid bg-light text-dark p-4">
                    <div class="row">
                      <div class="col-md-3 col-lg-3 col-sm-6 col-12">
                        <div class="card bg-card blue-bg">
                          <div class="card-block p-2">
                            <div class="card-text icons-bg float-left"><i class="fas fa-bell icon"></i></div>
                            <a class="card-title card-head">PENDING WITH BAJAJ</a>                            
                          </div>
                          <div class="card-footer text-right">
                            <div class="count-text">
                              <span>23</span>                       
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3 col-lg-3 col-sm-6 col-12">
                        <div class="card bg-card purple-bg">
                          <div class="card-block p-2">
                            <div class="card-text icons-bg float-left"><i class="fas fa-hospital icon"></i></div>
                            <a class="card-title card-head">PENDING WITH HOSPITAL</a>                            
                          </div>
                          <div class="card-footer text-right">
                            <div class="count-text">
                              <span>50</span>                       
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3 col-lg-3 col-sm-6 col-12">
                        <div class="card bg-card green-bg">
                          <div class="card-block p-2">
                            <div class="card-text icons-bg float-left"><i class="fas fa-credit-card icon"></i></div>
                            <a class="card-title card-head">CASHLESS APPROVED</a>                            
                          </div>
                          <div class="card-footer text-right">
                            <div class="count-text">
                              <span>30</span>                  
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3 col-lg-3 col-sm-6 col-12">
                        <div class="card bg-card darkblue-bg">
                          <div class="card-block p-2">
                            <div class="card-text icons-bg float-left"><i class="fas fa-money-bill icon"></i></div>
                            <a class="card-title card-head">PENDING FOR PAYMENTS</a>                            
                          </div>
                          <div class="card-footer text-right">
                            <div class="count-text">
                              <span>15</span>                       
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="row">
                      <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                        <div class="list-group blue-bg">
                          <a href="" class="list-group-item active ">        
                            <div class="row">
                              <div class="col-lg-3 col-md-3 col-sm-4 col-4"> <i class="icons far fa-bell"></i></div>
                              <div class="col-lg-9 col-md-9 col-sm-8 col-8">
                                <h5>
                                  PENDING WITH BAJAJ
                              </h5>                           
                              </div>                         
                            </div>                       
                          </a>                      
                          <div class="count-text">
                            <span>30</span>                       
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                        <div class="list-group purple-bg">
                          <a href="" class="list-group-item active ">        
                            <div class="row">
                              <div class="col-3"> <i class="icons fas fa-hospital"></i></div>
                              <div class="col-9">
                                <h5>
                                  PENDING WITH HOSPITAL
                              </h5>                           
                              </div>
                            </div>
                          </a>
                          <div class="count-text">
                            <span>15</span>                       
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                        <div class="list-group green-bg">
                          <a href="" class="list-group-item active ">        
                            <div class="row">
                              <div class="col-3"> <i class="icons fas fa-credit-card"></i></div>
                              <div class="col-9">
                                <h5>
                                  CASHLESS APPROVED
                              </h5>                         
                              </div>
                            </div>
                          </a>
                          <div class="count-text">
                            <span>50</span>                       
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                        <div class="list-group darkblue-bg">
                          <a href="" class="list-group-item active ">        
                            <div class="row">
                              <div class="col-3"> <i class="icons fas fa-money-bill"></i></div>
                              <div class="col-9">
                                <h5>
                                  PENDING FOR PAYMENTS
                              </h5>                         
                              </div>
                            </div>
                          </a>
                          <div class="count-text">
                            <span>20</span>                       
                          </div>
                        </div>
                      </div>
                    </div> -->
                    <!-- <div class="container-fluid mt-3">                      
                        <div class="row">
                          <div class="col-md-4 col-lg-4 col-sm-12 col-12 grid-margin stretch-card">
                            <div class="card">
                              <h4 class="card-title">
                                <i class="fas fa-gift"></i>
                                Claim Amount Status
                              </h4>
                              <div class="card-body d-flex flex-column"> 
                                <img src="assets/images/charts/bar chart.JPG" class="bar-chart" alt="">               
                                <div id="orders-chart-legend" class="orders-chart-legend"></div>   
                                <div id="chartdiv"></div>                           
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4 col-lg-4 col-sm-12 col-12 grid-margin stretch-card">
                            <div class="card">
                              <h4 class="card-title">
                                <i class="fas fa-chart-pie"></i>
                                Claim Status
                              </h4>
                              <div class="card-body d-flex flex-column"> 
                                <img src="assets/images/charts/pie chart.JPG" class="pie-chart" alt="">          
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4 col-lg-4 col-sm-12 col-12 grid-margin stretch-card">
                            <div class="card">
                              <h4 class="card-title">
                                <i class="fas fa-chart-pie"></i>
                                Claim Reported vs Paid
                              </h4>
                              <div class="card-body d-flex flex-column"> 
                                <img src="assets/images/charts/line chart.jpg" class="line-chart" alt="">                                           
                              </div>
                            </div>
                          </div>
                        </div>                  
                    </div> -->
                    <div class="container-fluid">
                      <div class="text-center mt-4">
                        <h4>Recently Access Claims</h4>  
                      </div>                                          
                      <div class="table-responsive">
                        <table id="order-listing" class="table table-bordered table-striped table-hover" datatable [dtOptions]="dtOptions">
                          <thead>
                            <tr>                        
                              <th>CLAIM NO</th>
                              <th>PATIENT NAME</th>
                              <th>STATUS</th>
                              <th>CLAIMED AMOUNT</th>
                              <th>APPROVED AMOUNT</th>
                              <th>VIEW DOCS</th>
                              <th>DATE OF ADMISSION</th>
                              <th>DATE OF DISCHARGE</th>
                              <th>DOWNLOAD LETTER</th>
                              <th>PROCESSED Time</th>                                              
                            </tr>
                          </thead>
                          <tbody>
                            <tr  *ngFor="let claim of data">                            
                              <td><a routerLink="/my-claim">{{claim.claimNo}}</a></td>
                              <td>{{claim.patientName}}</td>                            
                                <ng-container>
                                  <td *ngIf="claim.status=='Success'"><label class="badge badge-success p-2">{{claim.status}}</label></td>
                                  <td *ngIf="claim.status=='Pending'"> <label class="badge badge-info p-2"> {{claim.status}}</label></td>
                                  <td *ngIf="claim.status=='Reject'"> <label class="badge badge-danger p-2"> {{claim.status}}</label></td>
                                  <td *ngIf="claim.status=='Onhold'"> <label class="badge badge-warning p-2"> {{claim.status}}</label></td>
                              </ng-container>                             
                              <td>{{claim.claimAmount}}</td>
                              <td>{{claim.approvedAmount}}</td>
                              <td><button class="btn btn-primary"><i class="far fa-eye"></i></button></td>                                                  
                              <td>{{claim.dateOfAdmission}}</td>
                              <td>{{claim.dateOfDischarge}}</td>
                              <td><button class="btn btn-primary"><i class="fas fa-download"></i></button></td>
                              <td>{{claim.proceedTime}}</td>                                                 
                            </tr>                           
                          </tbody>
                        </table>
                      </div> 
                    </div>                  
                  </div>
                </div>
              </div>
            </div>
          </div>         
      </div>
    </div>