<div class="grid-margin">
    <div class="container-fluid">                
        <div class="card card-statistics">
            <div class="card-body p-1">
                <div class="container-fluid p-3 bg-light text-dark"> 
                    <tabs>
                        <tab tabTitle="Claim Details">                          
                            <div class="row mt-lg-3 mt-md-3">
                                <label for="" class="col-lg-3 col-md-3 col-sm-6 col-6">Claim Ref no <span class="colon">:</span> </label>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-6"><span>CL00141</span></div>
                                <label for="" class="col-lg-3 col-md-3 col-sm-6 col-6">Patient name <span class="colon">:</span></label>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-6"><span>Shabeer ahmed</span></div>                                
                                <label for="" class="col-lg-3 col-md-3 col-sm-6 col-6">Claimed amount <span class="colon">:</span></label>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-6"><span>23000</span></div>
                                <label for="" class="col-lg-3 col-md-3 col-sm-6 col-6">Approved Amount <span class="colon">:</span></label>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-6"><span>12000</span></div>
                                <label for="" class="col-lg-3 col-md-3 col-sm-6 col-6">Date of Admission <span class="colon">:</span></label>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-6"><span>10-01-2020</span></div>
                                <label for="" class="col-lg-3 col-md-3 col-sm-6 col-6">Date of Discharge <span class="colon">:</span></label>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-6"><span>22-01-2020</span></div>
                                <label for="" class="col-lg-3 col-md-3 col-sm-6 col-6">Processed time <span class="colon">:</span></label>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-6"><span>40 mins</span></div>
                                <label for="" class="col-lg-3 col-md-3 col-sm-6 col-6">Awaiting time <span class="colon">:</span></label>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-6"><span>20 mins</span></div>
                                <label for="" class="col-lg-3 col-md-3 col-sm-6 col-6">Status <span class="colon">:</span></label>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-6"><span>In process</span></div>
                            </div>                                                                
                        </tab>
                        <tab tabTitle="Documents">
                            <div class="container-fluid">
                                <div class="row">                                                                
                                    <label for="" class="col-lg-4 col-md-4 col-sm-6 col-6">Health Card <span class="colon">:</span></label>
                                    <div class="col-lg-7 col-md-7 col-sm-6 col-6">                          
                                        : &nbsp;<span>shabeer ahmed-Health card.jpg</span>                                                                        
                                    </div>                                                                                                                                                                                     
                                </div>                                                                                        
                                <div class="row">                                                                
                                    <label for="" class="col-lg-4 col-md-4 col-sm-6 col-6">Id Card <span class="colon">:</span></label>
                                    <div class="col-lg-7 col-md-7 col-sm-6 col-6">                          
                                    : &nbsp;<span>shabeer ahmed-Id card.jpg</span>                                                                        
                                    </div>                                                                                                                                                                                     
                                </div>   
                                <div class="row">                                                                
                                    <label for="" class="col-lg-4 col-md-4 col-sm-6 col-6">Investigation Reports <span class="colon">:</span></label>
                                    <div class="col-lg-7 col-md-7 col-sm-6 col-6">                          
                                        : &nbsp;<span>investigation reports.pdf</span>                                                                        
                                    </div>                                                                                                                                                                                     
                                </div>
                                <div class="row">                                                                
                                    <label for="" class="col-lg-4 col-md-4 col-sm-6 col-6">Interim Bill <span class="colon">:</span></label>
                                    <div class="col-lg-7 col-md-7 col-sm-6 col-6">                          
                                        : &nbsp;<span>interim Bill-1</span>                                                                        
                                    </div>                                                                                                                                                                                     
                                </div>
                                <div class="row">                                                                
                                    <label for="" class="col-lg-4 col-md-4 col-sm-6 col-6">Final Bill <span class="colon">:</span></label>
                                    <div class="col-lg-7 col-md-7 col-sm-6 col-6">                          
                                        : &nbsp;<span>Final Bill-1</span>                                                                        
                                    </div>                                                                                                                                                                                     
                                </div>
                                <div class="row">                                                                
                                    <label for="" class="col-lg-4 col-md-4 col-sm-6 col-6">Investigation Reports</label>
                                    <div class="col-lg-7 col-md-7 col-sm-6 col-6">                          
                                        : &nbsp;<span>investigation reports.pdf</span>                                                                        
                                    </div>                                                                                                                                                                                     
                                </div>
                                <div class="row">                                                                
                                    <label for="" class="col-lg-4 col-md-4 col-sm-6 col-6">Others <span class="colon">:</span></label>
                                    <div class="col-lg-7 col-md-7 col-sm-6 col-6">                          
                                        : &nbsp;<span>aadhar card.png</span>                                                                        
                                    </div>                                                                                                                                                                                     
                                </div>                                
                            </div>                             
                        </tab>  
                        <tab tabTitle="Queries & Response">
                            <div class="h-100">
                                <div class="row">           
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 chat">
                                        <div class="card card-statistics p-1">
                                            <div class="d-block p-2 bg-light text-dark"> 
                                                    <!-- <div class="card-header msg_head">
                                                        <div class="d-flex bd-highlight">                           
                                                            <div class="user_info">
                                                                <span>Queries & Response</span>
                                                                <p>1767 Messages</p>
                                                            </div>                           
                                                        </div>                                         
                                                    </div> -->
                                                <div class="card-body msg_card_body">
                                                    <div class="d-flex justify-content-start mb-4">                      
                                                        <div class="msg_cotainer">
                                                            Hi, Please attach your health card
                                                            <span class="msg_time">8:40 AM, Today</span>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex justify-content-end mb-4">
                                                        <div class="msg_cotainer_send">
                                                            Hi Ok I will attach.
                                                            <span class="msg_time_send">8:55 AM, Today</span>
                                                        </div>                                                        
                                                    </div>                                                                                                           
                                                    <div class="d-flex justify-content-start mb-4">                       
                                                        <div class="msg_cotainer">
                                                            Ok, thank you have a good day
                                                            <span class="msg_time">9:12 AM, Today</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-footer">
                                                    <div class="input-group">                                                                   
                                                        <textarea name="" class="form-control type_msg" placeholder="Type your message..."></textarea>
                                                        <div class="input-group-append">
                                                            <span class="input-group-text attach_btn"><img class="upload-btn" src="assets/images/cloud.png" alt=""></span>
                                                        </div>
                                                        <div class="input-group-append">
                                                            <span class="input-group-text send_btn">Send</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tab>
                        <tab tabTitle="Enhancement Details">
                            <div class="row mt-4">
                                <div class="col-lg-2 col-md-2 col-sm-12 col-12">
                                    <label class="badge badge-info p-2 mt-lg-3 mt-md-3">Enhancement Request </label> 
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-12 col-12">
                                    <div class="input-group">                                                                   
                                        <textarea name="" class="form-control" placeholder="Please increase approved amount"></textarea>
                                        <div class="input-group-append">
                                            <span class="input-group-text" (click)="fileInput.click()" appDragDrop (onFileDropped)="uploadErfile($event)"><img class="upload-btn" src="assets/images/cloud.png" alt="">
                                                <input hidden type="file" #fileInput (change)="uploadErfile($event.target.files)">
                                            </span>
                                        </div>
                                        <div class="input-group-append">
                                            <span class="btn btn-primary p-3" (click)="show=!show" ng-model="show">Submit</span>
                                        </div>   
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-12 offset-lg-2 offset-md-2 mt-lg-2 mt-md-2">
                                    <div  class="files-list" *ngFor="let file of files;let i=index">
                                        <span>{{ file }}</span>
                                        <button class="delete-file" (click)="deleteErAttachment(i)">
                                            <i class="fa fa-trash text-danger"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive bg-light p-3" *ngIf="show">
                                <table id="order-listing" class="table table-bordered table-striped table-hover" datatable [dtOptions]="dtOptions">
                                  <thead>
                                    <tr>                        
                                      <th>ER NO</th>
                                      <th>ER DETAILS</th>                                             
                                      <th>VIEW DOCS</th>  
                                      <th>STATUS</th>                                               
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr  *ngFor="let er of erData">                            
                                      <td>{{er.erNo}}</td>
                                      <td>{{er.erDetails}}</td>                                                 
                                      <td><button class="btn btn-primary"><i class="far fa-eye"></i></button></td>
                                      <td>{{er.erStatus}}</td>
                                    </tr>                           
                                  </tbody>
                                </table>
                            </div>                                        
                        </tab>
                        <tab tabTitle="Bills">
                            <div class="row">
                                <!-- <label class="col-md-2 col-lg-2 col-sm-12 col-12">Bill Type</label> -->
                                <div class="col-md-12 col-lg-12 col-sm-12 col-12">
                                    <div class="form-check-inline">
                                      <label class="form-check-label large-text" for="radio1">
                                        <input  class="form-check-input" name="options" type="radio" [value]="" />Interim Bill
                                      </label>
                                    </div>                                                                                              
                                    <div class="form-check-inline">
                                      <label class="form-check-label large-text" for="radio2">
                                        <input class="form-check-input" name="options" type="radio" [value]="" />Final Bill
                                      </label>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-8 col-md-8 col-sm-12 col-12">
                                            <div class="input-group">                                                                   
                                                <textarea name="" class="form-control" placeholder="Enter your Comments"></textarea>
                                                <div class="input-group-append">
                                                    <span class="input-group-text" (click)="fileInput.click()" appDragDrop (onFileDropped)="uploadErfile($event)"><img class="upload-btn" src="assets/images/cloud.png" alt="">
                                                        <input hidden type="file" #fileInput (change)="uploadErfile($event.target.files)">
                                                    </span>
                                                </div>
                                                <div class="input-group-append">
                                                    <span class="btn btn-primary p-3" (click)="show=!show" ng-model="show">Submit</span>
                                                </div>   
                                            </div>
                                        </div>
                                        <!-- <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-lg-2 mt-md-2">
                                            <div  class="files-list" *ngFor="let file of files;let i=index">
                                                <span>{{ file }}</span>
                                                <button class="delete-file" (click)="deleteErAttachment(i)">
                                                    <i class="fa fa-trash text-danger"></i>
                                                </button>
                                            </div>
                                        </div>                                                                                                               -->
                                    </div>                                                                               
                                </div>                                         
                                <div class="col-md-12 col-lg-12 col-sm-12 col-12 grid-margin stretch-card justify-content-center">
                                    <div class="table-responsive bg-light p-3">
                                        <table id="order-listing" class="table table-bordered table-striped table-hover" datatable [dtOptions]="dtOptions">
                                          <thead>
                                            <tr>                        
                                              <th>CLAIM NO</th>
                                              <th>PATIENT NAME</th>
                                              <th>Bill Type</th>
                                              <th>Comments</th>
                                              <th>Attachments</th>                                               
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr  *ngFor="let bill of billsData">                            
                                              <td><a routerLink="">{{bill.claimNo}}</a></td>
                                              <td>{{bill.patientName}}</td>
                                              <td>{{bill.billType}}</td>                                                 
                                              <td><textarea class="form-control" rows="1" cols="30" readonly>{{bill.comments}}</textarea></td>                                       
                                              <td> 
                                                <div  class="files-list" *ngFor="let file of files;let i=index">
                                                    <span>{{ file }}</span>
                                                    <button class="delete-file" (click)="deleteErAttachment(i)">
                                                        <i class="fa fa-trash text-danger"></i>
                                                    </button>
                                                </div>
                                              </td>
                                            </tr>                           
                                          </tbody>
                                        </table>
                                    </div> 
                                </div>                                          
                            </div>                                       
                        </tab>                      
                    </tabs>                              
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 mb-2 text-center">
                        <button type="button" class="btn btn-info large-btn mb-1">View</button>
                            <!-- <button type="button" class="btn btn-primary large-btn ml-2">Enhancement Request</button>                   
                            <button type="reset" class="btn btn-danger large-btn ml-2 ">Reset</button> -->
                            <button type="button" class="btn btn-secondary large-btn ml-lg-2 ml-md-2">Print</button>                            
                        </div>  
                    <!-- </div>                                                                                    -->
                </div>                                           
            </div>                                                 
        </div> 
    </div>
</div>